<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>历史交互模块</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<!--导航栏-->
		<link href="__PUBLIC__/Minimal_files/bootstrap.css" rel="stylesheet">
		<link href="__PUBLIC__/Minimal_files/jquery.css" rel="stylesheet"> 
		<link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet">
	    <!--link href="__PUBLIC__/Minimal_files/font-awesome.css" rel="stylesheet"-->
		<link href="__PUBLIC__/Minimal_files/minimal-his.css" rel="stylesheet">
		<link href="__PUBLIC__/Minimal_files/rickshaw.css" rel="stylesheet">	
		<link href="__PUBLIC__/Minimal_files/morris.css" rel="stylesheet"> 
		<script src="__PUBLIC__/js/jquery.min.js"></script> 
		<script type="text/javascript" src="__PUBLIC__/Minimal_files/jquery.nicescroll.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Minimal_files/jquery_005.js"></script>
		<script>
			  $(document).ready(function() { 
				var nice = $("html").niceScroll(); 
			  });
		</script>
		<script src="__PUBLIC__/Minimal_files/raphael-min.js"></script> 
		<script src="__PUBLIC__/Minimal_files/d3.js"></script> 
		<script src="__PUBLIC__/Minimal_files/rickshaw.js"></script>
		<script src="__PUBLIC__/Minimal_files/summernote.js"></script>
		<script src="__PUBLIC__/Minimal_files/chosen.js"></script>
		<script src="__PUBLIC__/Minimal_files/minimal.js"></script> 
		<script src="__PUBLIC__/js/avalon.js"></script>
		<script>
            avalon.config({
                loader: false,
				interpolate:["{%","%}"]
            })
        </script>
		<script src="__PUBLIC__/js/echarts.js"></script>
		<script src="__PUBLIC__/js/history.js"></script> 
		<script>
			require.config({
				paths: {
					echarts: '../Public/js'
				}
			});
			require(
				[
					'echarts',
					'echarts/chart/map',
					'echarts/chart/pie',
					'echarts/chart/bar',
					'echarts/chart/line'
				],
				InitEharts
			); 
		</script> 	 
	</head>
	<body style="position: relative;" class="bg-1" ms-controller="avalon">
		<div class="mm-page">
		<div class="mm-page">
			<div class="adcenter">	
			</div>
			<div class="mask" style="display:none">
				<div id="loader" style="display:none"></div>
			</div>
			<div id="wrap">
				<!-- Make page fluid -->
				<div class="row">
					<!-- Fixed navbar -->
					<div id="navbar" class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top">
						<!-- Branding -->
						<div class="navbar-header col-md-2">
							<a class="navbar-brand" href="#">
								<strong>历史交互</strong>模块
							</a>
							<div class="sidebar-collapse">
							  <a href="#">
								<i class="fa fa-bars"></i>
							  </a>
							</div>
						</div>
						<!-- Branding end -->
						<!-- .nav-collapse -->
						<div class="navbar-collapse">
							<!-- Page refresh -->
							<ul class="nav navbar-nav refresh">
							  <li class="divided">
								<a href="#" class="page-refresh"><i class="fa fa-refresh"></i></a>
							  </li>
							</ul>
							<!-- /Page refresh -->
							<!-- Search -->
							<div class="search" id="main-search">
							  <i class="fa fa-search"></i> 
							  <input placeholder="Search..." type="text">
							</div>
							<!-- Search end -->
							<!-- Quick Actions -->
							<ul class="nav navbar-nav quick-actions">
							  
								<li class="dropdown divided">

									<a class="dropdown-toggle button" data-toggle="dropdown" href="#">
									  <i class="fa fa-tasks"></i>
									  <span class="label label-transparent-black">2</span>
									</a>
								</li>
								<li class="dropdown divided">
									<a class="dropdown-toggle button" data-toggle="dropdown" href="#">
									  <i class="fa fa-envelope"></i>
									  <span class="label label-transparent-black">1</span>
									</a>
								</li>
								<li class="dropdown divided">
                
									<a class="dropdown-toggle button" data-toggle="dropdown" href="#">
									  <i class="fa fa-bell"></i>
									  <span class="label label-transparent-black">3</span>
									</a>
								</li>
							</ul>
							<!-- Sidebar -->
							<ul tabindex="5000" style="overflow: hidden;" class="nav navbar-nav side-nav" id="sidebar">
								<li class="navigation" id="navigation">
									<a href="#" class="sidebar-toggle" data-toggle="#navigation">Navigation 
									<i class="fa fa-angle-up"></i>
									</a>
									<ul class="menu">
										<li class="active">
											<a href="#">
											  <i class="fa fa-tachometer"></i> Dashboard
											  <span class="badge badge-red">1</span>
											</a>
										</li>

										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											  <i class="fa fa-list"></i> Forms <b class="fa fa-plus dropdown-plus"></b>
											</a>
											<ul class="dropdown-menu">
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Common Elements
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Validation
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Form Wizard
												</a>
											  </li>
											</ul>
										</li> 
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											  <i class="fa fa-pencil"></i> Interface <b class="fa fa-plus dropdown-plus"></b>
											</a>
											<ul class="dropdown-menu">
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> UI Elements
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Typography
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Tiles
												</a>
											  </li>
											</ul>
										</li>
										<li class="">
											<a href="#">
											  <i class="fa fa-tint"></i> Buttons &amp; Icons
											</a>
										</li>
											<li class="">
											<a href="#">
											  <i class="fa fa-th"></i> Grid Layout
											</a>
											</li>

										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											  <i class="fa fa-th-large"></i> Tables <b class="fa fa-plus dropdown-plus"></b>
											</a>
											<ul class="dropdown-menu">
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Bootstrap Tables
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> DataTables
												</a>
											  </li>
											</ul>
										</li>

										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											  <i class="fa fa-desktop"></i> Example Pages <b class="fa fa-plus dropdown-plus"></b>
											  <span class="label label-greensea">mails</span>
											</a>
											<ul class="dropdown-menu">
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Login Page
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Calendar
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Page 404
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Page 500
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Page Offline
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Gallery
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Timeline
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Vertical Mail
												  <span class="badge badge-red">5</span>
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Horizontal Mail
												  <span class="label label-greensea">mails</span>
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Vector Maps
												</a>
											  </li>
											  <li>
												<a href="#">
												  <i class="fa fa-caret-right"></i> Google Maps
												</a>
											  </li>
											</ul>
										</li>

										<li class="">
											<a href="#">
											  <i class="fa fa-play-circle"></i> Widgets
											</a>
										</li>

										<li class="">
											<a href="#">
											  <i class="fa fa-bar-chart-o"></i> Charts &amp; Graphs
											</a>
										</li>
									</ul>
								</li>
								<li class="summary" id="order-summary">
									<a href="#" class="sidebar-toggle underline" data-toggle="#order-summary">
									Orders Summary <i class="fa fa-angle-up"></i>
									</a> 
									<div class="media">
									  <a class="pull-right" href="#">
										<span id="sales-chart"><canvas height="40" width="69" style="display: inline-block; width: 69px; height: 40px; vertical-align: top;"></canvas></span>
									  </a>
									  <div class="media-body">
										This week sales
										<h3 class="media-heading">26, 149</h3>
									  </div>
									</div>

									<div class="media">
									  <a class="pull-right" href="#">
										<span id="balance-chart"><canvas height="40" width="69" style="display: inline-block; width: 69px; height: 40px; vertical-align: top;"></canvas></span>
									  </a>
									  <div class="media-body">
										This week balance
										<h3 class="media-heading">318, 651</h3>
									  </div>
									</div>
								</li>
								<li class="settings" id="general-settings">
									<a href="#" class="sidebar-toggle underline" data-toggle="#general-settings">General Settings <i class="fa fa-angle-up"></i>
									</a> 
									<div class="form-group">
									  <label class="col-xs-8 control-label">Switch ON</label>
									  <div class="col-xs-4 control-label">
										<div class="onoffswitch greensea">
										  <input name="onoffswitch" class="onoffswitch-checkbox" id="switch-on" checked="checked" type="checkbox">
										  <label class="onoffswitch-label" for="switch-on">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										  </label>
										</div>
									  </div>
									</div>

									<div class="form-group">
									  <label class="col-xs-8 control-label">Switch OFF</label>
									  <div class="col-xs-4 control-label">
										<div class="onoffswitch greensea">
										  <input name="onoffswitch" class="onoffswitch-checkbox" id="switch-off" type="checkbox">
										  <label class="onoffswitch-label" for="switch-off">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										  </label>
										</div>
									  </div>
									</div>
								</li>
							</ul>
							<!-- Sidebar end-->
						</div>
						<!-- .nav-collapse end-->
					</div>
					<!-- Fixed navbar Over-->
				<!-- Page content -->
					<div tabindex="5001" style="overflow: hidden; padding-left: 265px;" id="content" class="col-md-12">
						<!-- page header -->
						<div class="pageheader"> 
							<h2>
								<i class="fa fa-tachometer"></i> 
								用户历史信息
								<span>在此一览...</span>
							</h2> 
							<div class="breadcrumbs">
							  <ol class="breadcrumb">
								<li>You are here</li>
								<li><a href="#">Minimal</a></li>
								<li class="active">Dashboard</li>
							  </ol>
							</div> 
						</div>
						<!-- /page header -->
						<!-- content main container -->
						<div class="main"> 
							<!-- row -->
							<div class="row">
								<!-- col 8 -->
								<div class="col-lg-8 col-md-12">
									<!-- tile -->
									<section class="tile transparent">
										<!-- tile header -->
										<div class="tile-header color transparent-black textured rounded-top-corners">
											<h1><strong>TOP10用户</strong>交互次数：</h1>
											<div class="controls">
											  <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
											  <a href="#" class="remove"><i class="fa fa-times"></i></a>
											</div>
										</div>
										<!-- /tile header -->
										<!-- tile widget -->
											<!--绘制表格-->
											<div class="tile-widget color transparent-black textured" style="height: 350px;  position: relative;">
												<div   id="stackedLine" style="height: 450px;position: relative;margin: 0px;padding: 0px;top:-80px;left:-45px;  "  ></div>
											</div> 
											<!--表格绘制结束-->
										<!--/title widget-->
									</section>
									<!--/title-->
									<!--tile--> 
									<section class="tile color transparent-black">
										<!-- tile header -->
										<div class="tile-header">
											<h1><strong>TOP 10</strong>用户访问</h1>
											<div class="controls">
											  <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
											  <a href="#" class="remove"><i class="fa fa-times"></i></a>
											</div>
										</div>
										<!-- /tile header -->
										<!-- tile body -->
										<div class="tile-body no-vpadding">
											<div class="table-responsive">
												<table class="table table-custom table-sortable nomargin">
													<thead>
													  <tr>
														<th class="sortable sort-numeric sort-asc">排名</th>
														<th class="sortable sort-alpha">名称</th>
														<th class="sortable">IP地址</th>
														<th class="sortable sort-amount">请求次数</th>
														<th class="text-right">各权限次数</th>
													  </tr>
													</thead>
													<tbody>
														<tr ms-repeat-el="topArr">
															<td class="color-hotpink">{%$index+1%}</td>
															<td class="color-orange priority">{%el.name%}</td>
															<td class="color-green priority">{%el.ip%}</td>
															<td class="progress-cell">
															  <div class="progress-info">
																<div class="percent"><span class="animate-number" data-value="50" data-animation-duration="1500">{%el.num%}</span>次</div>
															  </div>
															  <div class="progress progress-little">
																<div ms-css-width="el.num" class="progress-bar progress-bar-transparent-blue animate-progress-bar"  ></div>
															  </div>
															</td>
															<td class="text-right color-amethyst">读:2;读写:21;删:1; </td>
														</tr>
													<tbody>
												</table>
											</div>
										</div>
										<!--tile body-->
									</section>
									<!--/tile-->
									<!--tile--> 
									<section class="tile color transparent-black">
										<!-- tile header -->
										<div class="tile-header">
											<h1><strong>最近10次</strong>用户访问</h1>
											<div class="controls">
											  <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
											  <a href="#" class="remove"><i class="fa fa-times"></i></a>
											</div>
										</div>
										<!-- /tile header -->
										<!-- tile body -->
										<div class="tile-body no-vpadding">
											<div class="table-responsive">
												<table class="table table-custom table-sortable nomargin">
													<thead>
													  <tr>
														<th class="sortable sort-numeric sort-asc">顺序</th>
														<th class="sortable sort-alpha">名称</th>
														<th class="sortable">IP地址</th>
														<th class="sortable sort-amount">请求权限</th>
														<th class="text-right">是否授权</th>
													  </tr>
													</thead>
													<tbody>
														<tr ms-repeat-el="topNum">
															<td class="color-amethyst">{%$index+1%}</td>
															<td class="color-green priority">{%el.name%}</td>
															<td class="color-blue priority">{%el.ip%}</td>
															<td class="progress-cell">
															  <div class="progress-info">
																<div class="percent"><span class="animate-number color-orange" data-value="50" data-animation-duration="1500">{%el.auth%}</span></div>
															  </div>
															  
															</td>
															<td class="text-right color-hotpink">{%el.res%} </td>
														</tr>
													<tbody>
												</table>
											</div>
										</div>
										<!--tile body-->
									</section>
									<!--/tile-->
								</div>
								<!--/col 8-->
								<!-- col 4 -->
								<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
									<!-- tile -->
									<section class="tile color transparent-black textured">
										<!-- tile header -->
										<div class="tile-header">
											<h1><strong>服务器</strong>承载</h1>
											<div class="controls">
											  <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
											  <a href="#" class="remove"><i class="fa fa-times"></i></a>
											</div>
										</div>
										<!-- /tile header -->
										<!-- tile widget -->
										<div class="tile-widget"> 
											<div class="progress-list with-heading">
											  <div class="details">
												<div class="title"><h2><i class="fa fa-hdd-o"></i> <span class="animate-number" data-value="394" data-animation-duration="1600">394</span>GB</h2></div>
											  </div>
											  <div class="status pull-right bg-transparent-black-1">
												<span class="animate-number" data-value="42" data-animation-duration="1500">42</span>%
											  </div>
											  <div class="clearfix"></div>
											  <div class="progress progress-little progress-transparent-black" style="margin-bottom: 5px">
												<div style="width: 42%;" class="progress-bar animate-progress-bar" data-percentage="42%"></div>
											  </div>
											</div>  
											<p class="description"><strong>394GB</strong> used of <strong class="white-text">2,048GB</strong> on File Server</p>
										</div>
										<!-- /tile widget -->
										<!-- tile body -->
										<div class="tile-body paddingtop">
											<div class="rickshaw_graph" id="serverload-chart">
											<div style="left: 44.449px;" class="detail inactive">
											</div>
											</div>
										</div>
										<!-- /tile body -->
									</section>
									<!-- /tile -->
									<!-- tile -->
									<section class="tile color transparent-black">
										<!-- tile header -->
										<div class="tile-header">
											<h1><strong>各类权限</strong>访问次数</h1> 
											<div class="controls">
											  <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
											  <a href="#" class="remove"><i class="fa fa-times"></i></a>
											</div>
										</div>
										<!-- /tile header -->
										<!--tile body-->
										<div class="tile-body">
											<div id="browser-usage" >
												<div id="standPie"style="height:300px;width:390px;position: relative;margin: 0px;padding: 0px;top:-40px; "></div>
											</div>
										</div>
										<!--/tile body-->
									</section>
									<!--/title-->
								</div>
								<!-- /col 4 -->
							</div>
							<!-- /row -->
						</div>
						<!-- /content main container -->
					</div>
				</div>
				<!-- Make page fluid Over-->
			</div>
		</div>
	</div>
	<script>
	 //server load rickshaw chart
      var graph; 
      var seriesData = [ [], []];
      var random = new Rickshaw.Fixtures.RandomData(50); 
      for (var i = 0; i < 50; i++) {
        random.addData(seriesData);
      }
      graph = new Rickshaw.Graph( {
        element: document.querySelector("#serverload-chart"),
        height: 150,
        renderer: 'area',
        series: [
          {
            data: seriesData[0],
            color: '#6e6e6e',
            name:'File Server'
          },{
            data: seriesData[1],
            color: '#fff',
            name:'Mail Server'
          }
        ]
      } );

      var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph,
      });

      setInterval( function() {
        random.removeData(seriesData);
        random.addData(seriesData);
        graph.update();

      },1000);
	</script>
	
	  
	</body>
</html>